*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .debug *{
    border: 1px solid purple;
} */


.centered{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* navbar */

header{   
    height: 495px;
    background-color:cornflowerblue;
}


/* nav con 3 div */
.navbar{
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: rgb(98, 134, 199);

}

.navbar ul{
    list-style-type: none;
}


#link{
    display: flex;
    align-items: stretch;
}

#link ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

/* logo */
#logo{  
    width: 150px;
    background-color:darkcyan;
}


#link li{  
    height: 30px;
    width: 60px;
    background-color:darkcyan;
}


/* bottone */

#signin{
    width: 100px;
    background-color:darkcyan;
}

/* header - titoli */


.intestazione{
    background-color: lightblue;
    
    height: 425px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* titolo */
#title{
    height: 80px;
    width:740px;
    background-color: dodgerblue;
}

/* paragrafo */

#paragraph{
    width:740px;
    height: 100px;
    background-color: rgb(22, 57, 75);
}


/* bottoni */
#header-btns{
    width:740px;
    height: 60px;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#btnone, #btntwo{
    width: 200px;
    height: 60px;
    background-color: aquamarine;
}

/* main */

.section{
    height: 630px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgb(62, 122, 211);
}

.mainarea{
    width: 1070px;
    height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: lightblue;
}

.section-img{
    width: 550px;
    height: 444px;
    background-color: violet;
}

.img-text{
    height: 444px;
    width: 400px;
    background-color: blueviolet;
}


/* sezione finale */

#columnedarea{
    height: 1170px;
    background-color:  rgb(62, 122, 211);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.lastsection{

    height: 1000px;

    background-color: deepskyblue;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
#columnedtitle{
    background-color: azure;
    width: 980px;
    height: 180px;
}

#columnedimg{
    background-color: aquamarine;
    width: 980px;
    height: 560px;
}


#columnedbtn{
    width: 980px;
    height: 180px;
    background-color: azure;
}

/* footer */

footer{
    background-color: cornflowerblue;
}


.info-column{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center; 

    background-color: lightblue;
}

#lists{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    gap: 40px;
}

#info{
    width: 250px;
    height: 380px;

    background-color: darkseagreen;
}

#lists ul{
    width: 140px;
    height: 380px;
    list-style-type: none;
    background-color: lightseagreen;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#lists li{
    width: 60px;
    height: 30px;

    background-color: aquamarine;

}

/* footer navbar */

.footernavbar{
    background-color: aqua;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footerlogo{
    width: 150px;
    height: 70px;

    background-color: cadetblue;
}

#footerbtn{
    width: 100px;
    height: 70px;

    background-color: cadetblue;
}

