*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug *{
    border: 1px solid purple;
}


.centered{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* navbar */

header{    
    background-color:cornflowerblue;
}


/* nav con 3 div */
.navbar{
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: rgb(98, 134, 199);

}

.navbar ul{
    list-style-type: none;
}


#link{
    display: flex;
    align-items: stretch;
}

#link ul{
    display: flex;
    flex-direction: row;
    align-items: center;

    /* row wrap */
    gap: 30px;
}

/* logo */
#logo{  
    width: 150px;
    background-color:darkcyan;
}


#link li{  
    height: 30px;
    width: 60px;
    background-color:darkcyan;
}


/* bottone */

#signin{
    width: 100px;
    background-color:darkcyan;
}

/* header - titoli */


.intestazione{
    
    min-height: 425px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 0;
}


#header-inner{
    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 100%;
    max-width: 600px;
    text-align: center;

}


/* titolo */
#header-inner h1{
    margin-bottom: 0.4em;
}

/* paragrafo */

#paragraph{
    width:740px;
    height: 100px;
    background-color: rgb(22, 57, 75);
}


/* bottoni */
#header-btns{
    background-color: dodgerblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    
    
}

.header-btns button{
    width: 200px;
    height: 2.5em;
    background-color: aquamarine;
}

/* main */

main section{
    padding: 3em 0;
}

.section-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;

    background-color: rgb(62, 122, 211);
}


.section-img{
    width: 550px;
    height: 444px;
    background-color: violet;
}

.section-text{
    height: 444px;
    max-width: 60%;
    min-width: 30%;

    flex-grow: 1;

    background-color: blueviolet;
}


/* sezione finale */


.content{

    min-height: 1000px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px 0;
}

.content #inner-content{
    display: flex;
    flex-direction: column;
    gap: 1.5em;


    width: 100%;
    max-width: 900px;

    text-align: center;
}

#inner-content h2, img, h3{
    margin-bottom: 0.5em;
}

.columnedbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnthree{
    width: 150px;
    height: 60px;
    background-color: azure;
}

/* footer */

footer{
    background-color: cornflowerblue;
}

.footer-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 10px;

    padding-top: 2em;
}


#footer-left{
    width: 300px;
    height: 400px;
}

#footer-left .info{
    width: 100%;
    height: 200px;
}

#info{
    width: 250px;
    height: 380px;

    background-color: darkseagreen;
}
#footer-right{
    flex-grow: 1;

    display: flex;

    max-width: 700px;
}

.footer-lists{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer-lists ul{
    list-style-type: none;
    background-color: lightseagreen;
}

/* footer navbar */

.bottombar{
    background-color: aqua;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 2em 0;
}

#footer-logo{
    width: 150px;
    height: 70px;

    background-color: cadetblue;
}

#footer-btn{
    width: 100px;
    height: 70px;

    background-color: cadetblue;
}

